* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  max-width: 576px;
  margin: 0 auto;
}

.debug-box {
  background-color: rgba(255, 0, 0, .2);
  border: 1px solid black;
}
.debug > div {
  border: 1px solid black;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.wrap {
  flex-wrap: wrap;
}

/* header */

/* header { 
  background-color: aqua; 
}
*/

header nav {
  padding: 1rem 0  1rem 0;
}

/* main */
/* intro section */
.row {
  width: 100%;
}

.col {
  height: 400px;
}

.big-card {
  width: 100%;
}

.big-card .sx , .dx {
  width: 100%;
}

.small-card {
  width: 100%;
}

/* planning section */

.planning {
  width: 100%;
}

.planning > div  {
  width: 100%;
}

/* testimonials section */
.img-testimonial {
  width: 100%;
}

.text-testimonial {
  width: 100%;
}
/* about section  */
.about-text {
  width: 100%;
}

.about-img {
  width: 100%;
}

 @media screen and (min-width: 768px) { 
  .container {
    max-width: 800px;
  }
 
  .big-card {
    width: 66.6%;
    flex-direction: row;
  }

  .big-card .sx , .dx {
    width: 100%;
  }

  .small-card {
    width: calc(100% /3);
  }

  .benefits .small-card {
    width: 50%;
  }

  .small-card > div {
    width: 100%;
  }


  .img-testimonial {
    width: 30%;
  }

  .text-testimonial {
    width: 70%;
    justify-content: center;
  }

  .about-text {
    width: 70%;
  }
  
  .about-img {
    width: 30%;
  }

}

@media screen and (min-width: 992px) { 
  .container {
    max-width: 1400px; 
  }
  .big-card .sx , .dx {
    width: 50%;
  }
  .planning {
    width: 50%;
  }

  .benefits .small-card {
    width: calc(100% /3 );
  }
}